.Lion{
   background-color: #2066b1;
   height: 650px;
}
.toolbar{
    background-color: #1a5284;
}
h5{
    font-family: 'Akaya Telivigala', cursive;
    font-size: 1.35rem;
    padding: 10px;
    color: white;
}